html {
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
}
body {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
}

a {
  color: #ff8c00;
  text-decoration: none;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  top: 0;
  z-index: 100;
  margin-top: 0px;
  background-color: white;
}

.icon-user {
  height: 120px;
  aspect-ratio: 1;
  background-color: aqua;
}

.icon-user i.child {
  background-color: red;
  aspect-ratio: 1;
}

.icon-user i.child::before {
  display: block;
  width: 48px;
  aspect-ratio: 1;
}

form input {
  height: 50px;
  margin: 5px 0px;
  color: #141414;
}

form input:focus,
form input:active {
  border-color: #ff8c00 !important;
}

form input:not(:last-child) {
  padding-left: 30px;
  border: 1px solid #c0c0c0;
}

form input:last-child {
  background-color: #625ff8;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
}

.custom-checkbox {
  --bg-color: gray;
  appearance: none;
  inset: 0;
  height: 30px;
  aspect-ratio: 1;
  max-width: 10%;
  border-radius: 10px;
  background-color: var(--bg-color);
  cursor: pointer;
}

.custom-checkbox:checked {
  --bg-color: #625ff8;
}

.hide {
  display: none;
}

.line {
  display: inline-block;
  width: 47%;
  border: 1px solid #c0c0c0;
}
