html {
  height: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  line-height: 1;
}

body {
  margin: 0 5% 20%;
  height: 100%;
}

* {
  margin: 5px 0px;
}

.grid {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  nav {
    margin-top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    top: 0;
    z-index: 100;
    background-color: white;
  }

  .btn-back {
    color: black;
  }

  #product {
    margin-top: 55px;
    z-index: 99;
  }

  form * {
    margin: 5px 0px;
  }

  .product-submit {
    position: fixed;
    height: 65px;
    background-color: white;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .btn-buy {
    position: relative;
    font-size: large;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
    color: rgba(255, 255, 255, 0.7);
    background-color: #65c18c;
    height: 50px;
    border-radius: 5px;
    border: none;
    width: 90%;
    left: 5%;
    right: 5%;
  }

  .product-img-main {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  .product-img-main img {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .group-option,
  .product-info {
    line-height: 0.5;
    height: 65px !important;
  }

  .product-info {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .product-info i {
    display: flex;
    justify-content: end;
  }

  .product-info-descriptions * {
    margin: 5px 0px;
  }

  .product-info-descriptions h3 {
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  }

  .product-info-descriptions p {
    /* font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif; */
    text-align: justify;
    line-height: 1.5;
  }

  .product-option h3 {
    display: flex;
    flex-direction: column;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  }

  .product-option input {
    display: flex;
    flex-direction: row;
    display: inline-block;
    /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
    border: none;
    border-radius: 50px;
  }

  .custom-radio {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .custom-radio .checkradio-label {
    display: flex;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    border-radius: 30px;
    margin-right: 5px;
  }

  .custom-radio input:checked + .checkradio-label {
    background-color: #65c18c;
    color: rgba(255, 255, 255, 1);
  }

  .product-img-option {
    width: calc(100% - 1px);
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 10px 0px;
  }

  .product-img-option img {
    width: calc(20% - 1px);
    aspect-ratio: 1;
    scroll-snap-align: center;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    border: 1px solid;
    margin: 0px 2px;
  }
  .slide-left-button,
  .slide-right-button {
    display: none;
  }
  .product-img-option img.active {
    border: 3px solid #65c18c;
  }

  .list-comment {
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .comment {
    width: 94%;
    border-radius: 30px;
    background-color: #f5f5f5;
    padding: 10px;
    scroll-snap-align: center;
    display: inline-block;
    position: relative;
    z-index: -99;
  }

  .comment-user-info {
    display: flex;
    flex-direction: row;
  }

  .comment-user-info div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
  }

  .comment-user-info span {
    font-weight: 500;
  }

  .comment-user-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  p.comment-product,
  p.rep-comment {
    line-height: 1.5;
    text-align: justify;
  }

  .safari-fix {
    display: block;
    overflow-x: none;
    position: relative;
    white-space: wrap;
    word-wrap: normal;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) {
  /* CSS cho laptop và máy tính để bàn ở đây */
}

/* .product-img-option {
  width: 50%;
  overflow-x: hidden;
  white-space: nowrap;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border: 2px solid;
}

.product-img-option img {
  display: block;
  width: 20%;
  aspect-ratio: 2/1;
  scroll-snap-align: center;
  display: inline-block;
  position: relative;
  border-radius: 10px;
  border: 1px solid;
  margin: 0px 2px;
} */
