body {
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  margin: 0 5%;
  height: 100%;
  padding: 0;
}

/* * {
  margin: 5px 0px;
} */

.grid {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  h3 {
    margin: 0;
  }
  nav {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  nav div {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 5%;
    width: 100%;
  }

  .btn-back {
    color: black;
  }

  .product-submit {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: white;
    width: 100%;
  }

  .btn-buy {
    position: relative;
    font-size: large;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    background-color: #65c18c;
    height: 50px;
    border-radius: 5px;
    border: none;
    width: 90%;
    left: 5%;
    right: 5%;
  }

  .content {
    position: relative;
    margin: 80px 0px;
    flex-grow: 1;
  }

  .product-item {
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  label.item {
    display: flex;
    flex-direction: row;
  }

  .product-edit-quantity {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .product-edit-quantity input {
    /* appearance: none; */
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
  }
  .product-edit-quantity div {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    align-items: center;
    border-radius: 5px;
  }

  .product-edit-quantity p {
    margin: auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input.checkItem {
    appearance: none;
    height: 30px;
    aspect-ratio: 1;
    background-color: blue;
    border-radius: 5px;
  }

  input.checkItem:checked {
    background-color: #65c18c;
  }

  input.btnAdd {
    background-color: #65c18c;
  }
}
